{% extends 'main/main.html' %}

{%block content%}

<h1>Login</h1>
<h3 style="color:red">{{error_message}}</h3>
<form action={% url 'login' %} method="POST" >
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" value="" id="username"> <br/>
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password"> <br/>
    <input type="submit" value="Submit"/>
</form>
<a href="{% url 'create_account' %}">Create Account</a>




{%endblock%}