{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- icon to be updated -->
    <link rel="shortcut icon" href="#"/> 
    <script type="text/javascript" src="{% static 'main/script.js' %}" ></script>
    <title>S&P500 Tracker</title>
</head>
<body>
    <h1>Navbar Placeholder</h1>
    {%block content%}
    <!-- content goes here -->
    {%endblock%}
</body>
</html>