{% extends 'main/main.html' %}
{% block content %}
{% load humanize %}
{% load static %}
<script type="text/javascript" src="{% static 'main/ticker_script.js' %}" ></script>

<div class='ticker_div'>
    <h2>{{ticker}}</h2>
    <h4>Currency in USD</h4>
    {% if user.is_authenticated %}
    <div class='ticker_follow_button'>
        {%if if_stock_in_watchlist is True%}
            <button data-ticker="{{ticker}}" class="btn-follow">Unfollow</button>
        {%elif if_stock_in_watchlist is False%}
            <button data-ticker="{{ticker}}" class="btn-follow">Follow</button>
        {%endif%}
        {%if if_stock_in_notification_list is True%}
            <button data-ticker="{{ticker}}" class="btn-notif">Cancel Notification</button>
        {%elif if_stock_in_notification_list is False%}
            <button data-ticker="{{ticker}}" class="btn-notif">Get Notification</button>
        {%endif%}
        <button data-ticker="{{ticker}}" class="btn-notif-test">Test Notification</button>
    </div>
    <div style="font-size: 13px; margin: 5px 0px;">
        Hint: Turn on notification to be notified via email when closed price changes more than 5% from the previous trading day.(You can also test it out.)
    </div>
    {% elif not user.is_authenticated%}
    <div style="font-size: 13px; margin: 5px 0px;color:red">
        Hint: Login to access notification and following functions.
    </div>
    {%endif%}
    <!-- l30d price/volume chart display -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <container class="detail_chart_container">
    <canvas id="myChart" width="200" height="200"></canvas>
    </container>    

    <br>
    <h4 style="margin: 10px 0px 10px 0px">Last 7 trading days</h4>
    <table class="detail_tb">
        <thead>
            <tr>
                <th>Date</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            {%for item in return_list%}
            <tr>
                <td>{{item.date}}</td>
                <td>{{item.open|floatformat:2|intcomma}}</td>
                <td>{{item.high|floatformat:2|intcomma}}</td>
                <td>{{item.low|floatformat:2|intcomma}}</td>
                <td>{{item.close|floatformat:2|intcomma}}</td>
                <td>{{item.volume|intcomma}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
    <!-- data for chart usage -->
    {{ last_30_trading_dates|json_script:"last_30_trading_dates" }}
    {{ last_30_close_price|json_script:"last_30_close_price"}}
{%endblock%}