{% extends 'main/main.html' %}
{% block content %}
{% load humanize %}
{% load static %}
<script type="text/javascript" src="{% static 'main/ticker_script.js' %}" ></script>

    <h3>{{ticker}} | Last 7 trading days</h3>
    <h5>Currency in USD</h5>

    <!-- l30d price/volume chart display -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <container class="detail_chart_container">
    <canvas id="myChart" width="200" height="200"></canvas>
    </container>    

    <br>
    <table class="detail_tb">
        <thead>
            <tr>
                <th>Date</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            {%for item in return_list%}
            <tr>
                <td>{{item.date}}</td>
                <td>{{item.open|floatformat:2|intcomma}}</td>
                <td>{{item.high|floatformat:2|intcomma}}</td>
                <td>{{item.low|floatformat:2|intcomma}}</td>
                <td>{{item.close|floatformat:2|intcomma}}</td>
                <td>{{item.volume|intcomma}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    
    <!-- data for chart usage -->
    {{ last_30_trading_dates|json_script:"last_30_trading_dates" }}
    {{ last_30_close_price|json_script:"last_30_close_price"}}
{%endblock%}